:local .App {
  color : #0B338D;
  background: #FFFFFF;
  width: 35%;
  height: 100vh;
  margin-left: 2em;
  padding: 30em 0em 0em 0em;
  top :50%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%)
}

:local .header {
  color : #0B338D;
}

:local .AppTitle {
  font-size: x-large;
}

:local .AppIntro {
  font-size: small;
}

:local .rows {
  display: block;
}

:local .operatorList {
  display: block;
  margin-bottom: 2em;
}

:local .headerWithArrow{
  display: block;
  margin-left: 1em
}
:local .operator {
  display: inline-block;
  vertical-align: middle;
  color : #0B338D;
  font-size: large;
}

:local .operatorName {
  display: inline-block;
  vertical-align: middle;
  color : #0B338D;
  margin-left: 2em;
  font-size: large;
}

:local .image {
  height: 2.2em;
  width: 2.2em;
}

:local .backImage{
  height: 3.5em;
  width: 3.5em;
}

:local .AskMobileNumber{
  color : #757575;
  margin-left: 35%;
  margin-right: 30%;
  padding-bottom: 100vh;
  background: #FFFFFF;
}
:local .body{
  margin-left: 2em;
}
:local .button {
  background-color: #0B338D; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:  30%;
  margin: 2em;
  font-size: 16px;
  vertical-align: bottom;
  position:absolute;
  bottom:0;
}


:local .chooseOperator {
  position: absolute;
  margin-left: 35%;
  width:  30%;
  padding: 2em;
  background: #FFFFFF;
  overflow: scroll;
  height: 100vh;
}

:local .background{
  background: #F7F7F7;
  width: 100vw;
  height: 110vh;
}

:local .status {
  position: absolute;
  padding: 20em 2em 2em 2em;
  margin-left:35%;
  background: #FFFFFF;
  height: 100vh;
  width: 30%
}


input[type=tel] {
  border: none;
  width: 80%;
  font-size: 1.2em;
  border-bottom: 2px solid #0B338D;
}

